.employee-dashboard-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}
  
.employee-dashboard-container h1, h2 {
    text-align: center;
    color: #333;
}
  
.task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
  
.task-list .task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    
}
  
.task-list .task.done {
    text-decoration: line-through;
    background-color: #e6ffe6;
    color: #000;
    
}
  

.complete-btn, .done-btn {
    max-width: 100px;
    padding: 5px 8px;  
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;  
}

.complete-btn:hover, .done-btn:hover {
    background-color: #555;
}
  
.task-list .done-btn {
    background-color: #00b300;
    max-width: 100px;
}
  
.task-list .done-btn:hover {
    background-color: #008000;
}
