.list-tasks-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 0.9rem;
  text-align: center;
  color: #555;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-button:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 0;
}

.task-item {
  background-color: #e7e7e7;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between; /* Aligns text and delete button */
  align-items: center;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #ff3333;
}